/** body {
    font-family: Arial, sans-serif;
} **/

/* Add this in a <style> tag within the head of base.html or in an external stylesheet */
body {
    margin-top: 20px;
    background: #f8f9fa; /* Light gray background */
}

.container {
    background: #fff; /* White background for content */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive font size for the title */
h1 {
    font-size: 2rem;
}

/* Style the form elements consistently */

.task-group {
  margin-bottom: 20px; /* Adjust spacing between each task */
}

.options-container {
  margin-bottom: 10px; /* Adjust spacing between options and the submit button */
}

/* Ensure list items are displayed correctly */
ul.form-check-input {
    list-style-type: none; /* Remove bullet points */
    padding: 20; /* Remove default padding */
    margin-top: 30px; /* Add space between options */
}

ul.form-check-input li {
    margin-bottom: 3px; /* Add space between options */
}

.submit-button-container {
  margin-top: 8rem; /* Add space above the submit button */
}


/* Customize the button */
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

/* Add responsiveness for smaller devices */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

header {
    background-color: #f8f8f8;
    padding: 10px 0;
    border-bottom: 1px solid #e7e7e7;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}
