{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4">{{ voting_session.title }}</h1>
            <p>{{ voting_session.description }}</p>

            <form method="post" class="my-4">
                {{ form.hidden_tag() }}
                {% with messages = get_flashed_messages(with_categories=false) %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}

                {% for task in tasks %}
                <div class="form-group task-group">
                  {{ form.votes[loop.index0].task_id(value=task.task_id, readonly='readonly', type='hidden') }}
                  {% if voting_session.vote_type == 'options_voting' %}
                  <div class="options-container">
                    {% for option_form in form.option_votes %}
                        <div class="form-check">
                            {{ option_form.option(class="form-check-input") }}
                            <label class="form-check-label" for="{{ option_form.option.id }}">
                                {{ option_form.option.label.text }}
                            </label>
                        </div>
                    {% endfor %}
                  </div>
                  {% else %}
                    <label for="votes-{{ loop.index0 }}-vote_value">{{ task.title }}:</label>
                    {{ form.votes[loop.index0].vote_value(class="form-control") }}
                  {% endif %}
                </div>
                {% endfor %}
               <div class="submit-button-container">
                  <button type="submit" class="btn btn-primary btn-submit">Submit Vote</button>
               </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
